body {
    overflow-x: hidden;
}
  

.header{
    background-color: rgb(226, 233, 249);
    height: 4.375rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:60%
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.logo-menu{
    height: 4.375rem;
    margin-left: 2%;
  }

.menu li{
    float: left;
    padding: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
    text-align: center;
}

.menu li a{
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    background-color: transparent;
    margin: 0;
    
  }
  
.menu li:hover{
    background-color: white;
}

.capa{
    background-image: url("./img/capa.jpg");
    background-size:100% 100%;
    background-repeat:no-repeat;
    box-sizing: border-box;
    height: 37.5rem;
    width: 100%;
}

#agendar-button:hover{
    background-color: rgb(226, 233, 249) ;
    color: black
}

#card{
    height:36.875rem;
}

#card img{
    height: 11.25rem;
}

.logo-texto{
    position: relative;
    top: 30%;
    left: 50%;
}

.logo-texto h1{
    position: relative;
    transform: translate(-50%, 50%);
    background-color:rgba(255, 255,255, 0.4);
    width: fit-content;
}

.logo-texto img{
    position: relative;
    transform: translate(-50%, 0%);
}

.pagination{
    margin-top: 2%;
}

footer{
    background-color: rgb(226, 233, 249);
    height: 7,5rem;
    width: 100%;
    margin-top: 3%;
}

.footer{
    padding: 2px;
    position: relative;
    left:80%;
    bottom: 0;
}

.footer button{
    margin: .125rem;
}

.fonte-texto{
    font-family: 'Montserrat', sans-serif;
}





